@use "../../global" as *;
@use "../../partials" as *;

.circular-progress {
  @include square(150);
  @include circle;
  @include flex-center;
  position: relative;

  .inner-circle {
    position: absolute;
    width: calc(size(150) - size(30));
    height: calc(size(150) - size(30));
    @include circle;
    background: $white;
    @include flex-center;
    overflow: hidden;
    padding: size(8);
  
    img {
      @include wh100;
      object-fit: cover;
      position: relative;
      z-index: 100;
    }
  }

  .percentage {
    position: relative;
    z-index: -1;
    font-size: 1.25rem;
    color: rgb(0, 0, 0, 0.8);
  }
}