@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 0;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.up-btn {
  opacity: 1;
  padding: size(12);
  border: 0;
}

.btn-buy {
  @include setBgColor($btnbg, $white);
  background-size: 100% 100%;
  // background-position: right bottom;
  @include radius(8);
  display: inline-block;
  font-size: size(14);
  font-weight: 700;
  height: size(44);
  padding: size(12) size(28);
  text-align: center;
  @include transitionsall;

  @include hover {
    background-size: 100% 50%;
  }
}

.btn-subscribe {
  @include setBgColor($buttonbg, $white);
  border: 0;
  @include radius(8);
  @include flex-center;
  font-size: size(12);
  font-weight: 600;
  width: size(91);
  height: size(36);
  padding: size(12) size(20);
  @include transitionsbackground;

  @include hover {
    @include setBgColor($navyblue, $white);
  }
}

.btn-live {
  padding: size(14) size(16);
  @include border(solid,1,$gray-700);
  @include radius(8);
  color: $gray-700;
  @include transitionsall;
  @include font($primaryFont,14,semibold,normal,14);
  @include hover {
    background: darken($white,10%);
  }

}

.btn-learnmore {
  background-size: 100% 100%;
  padding: size(14) size(26);
  display: inline-block;
  @include setBgColor($btnbg, $white);
  @include radius(8);
  @include border(solid,1,$white);
  @include font($primaryFont,14,semibold,normal,14);
  @include transitionsall;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  @include hover {
    background-position: 50% 50%;
    background-size: 100% 500%;
  }
}

.subcribe-btn {
  padding: size(12) size(24);
  @include radius(8);
  background: linear-gradient(151.47deg, #02D7F8 9.01%, #0876FC 84.28%);
  border-radius: 8px;
  border: transparent;
  color: $white;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-size: 100% 100%;
  font-weight: 700;


  @include hover {
    background-position: 50% 50%;
    background-size: 100% 500%;
  }

}
