@use "../../global" as *;
@use "../../partials" as *;

.sidemenu {
  background: $white;
  @include border-single(right, solid, 1, $sideborder);
  gap: size(40);
  width: size(260);
  min-height: 100vh;
  padding: 0 0 size(24);
  position: fixed;
  transition: width 350ms ease;
  display: none;

  @include breakpoint(tab992) {
    @include flex-column;
  }

  .sitelogo {
    @include flex-center;
    height: size(60);
    margin-inline: auto;

    @include breakpoint(tab992) {
      width: size(162);
    }

    .logo {
      @include flex-center;
  
      img {
        @include wh100;
        object-fit: contain;
      }
  
      #logo-desktop {
        display: block;
      }
  
      #logo-mobile {
        display: none;
      }
    }
  }

  .sidenav {
    @include flex-column;
    gap: size(32);
    padding-bottom: size(32);

    @include breakpoint(desktop1366) {
      overflow-x: hidden;
      overflow-y: scroll;
      max-height: size(260);
    
      &::-webkit-scrollbar {
        background: transparent;
        width: size(0);
        display: none;
      }
    
      &::-webkit-scrollbar-thumb {
        @include radius(8);
      }
    }

    .divider {
      @include w100;
      height: size(1);
      background: $gray-300;
      margin: 0;
    }
  }

  .btn-toggler {
    background: $warning-100;
    position: absolute;
    top: size(74);
    right: size(-12);
    border: 0;
    @include square(24);
    @include circle;
    @include flex-center;
    overflow: hidden;
    padding: size(4);

    svg {
      @include wh100;
    }
  }

  &.togglemenu {
    width: size(90);

    .sitelogo {
      width: size(28);
      height: size(60);
      margin-inline: auto;
  
      .logo {
        height: size(36);
        @include flex-center;
    
        img {
          @include wh100;
          object-fit: contain;
        }
  
        #logo-desktop {
          display: none;
        }
  
        #logo-mobile {
          display: block;
        }
      }
    }
  
    .userinfo {
      width: size(40);
  
      .circular-progress {
        @include square(40);
      }
      
      .inner-circle {
        position: absolute;
        width: calc(size(40) - size(8));
        height: calc(size(40) - size(8));
        padding: size(4);
      }
      
      .accordion {
        width: size(40);
  
        &-button {
          height: size(40);
          font-size: size(0);
          text-align: center;
  
          &::after {
            margin-left: size(4);
          }
  
          &:not(.collapsed) {
            background: transparent;
            border: 0;
            box-shadow: none;
  
            &::after {
              background-image: var(--bs-accordion-btn-icon);
            }
          }
        }
  
        &-body {
          @include w100;
          padding-left: 0;
          padding-right: 0;

          .dropdownlist {
            @include w100;

            &-link {
              @include w100;
              justify-content: center;
              gap: size(0);
              @include setBgColor(transparent, $gray-700);
              padding: size(5) size(10);
  
              .icon {
                @include square(20);
                @include flex-center;
                overflow: hidden;
  
                img {
                  @include wh100;
                }
              }
  
              .text {
                display: none;
              }
            }
          }
        }
      }
    }
  
    .sidenav {  
      .sidelist {
        @include list-vertical;
        gap: size(8);
        padding: 0 size(24);
  
        &-link {
          padding: size(8);
          @include flex-center-vert;
          gap: size(8);
          @include radius(4);
          @include setBgColor(transparent, $gray-500);
  
          .icon {
            @include square(24);
            @include flex-center;
            overflow: hidden;
  
            svg {
              @include wh100;
            }
          }
  
          .text {
            display: none;
          }
  
          &:hover:not(.active) {
            @include setBgColor($gray-200, $gray-500);
          }
  
          &.active {
            @include setBgColor($primary-600, $white);
  
            svg {
              path {
                fill: $white;
              }
            }
          }
        }
      }
  
      .divider {
        @include w100;
        height: size(1);
        background: $gray-300;
      }
    }
  
    .btn-toggler {
      @include rotateY(180);
    }
  }
}

.sidelist {
  @include list-vertical;
  gap: size(8);
  padding: 0 size(24);

  &-link {
    padding: size(8);
    @include flex-center-vert;
    gap: size(8);
    @include radius(4);
    @include setBgColor(transparent, $gray-500);

    .icon {
      @include square(24);
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
      }
    }

    .text {
      font-size: size(14);
      font-weight: 400;
    }

    &:hover:not(.active) {
      @include setBgColor($gray-200, $gray-500);
    }

    &.active {
      @include setBgColor($primary-600, $white);

      svg {
        path {
          fill: $white;
        }
      }
    }
  }
}

.userinfo {
  @include flex-center-column;
  gap: size(10);
  width: size(186);
  margin-inline: auto;

  .avatar {
    @include flex-center;
    overflow: hidden;
  }
  
  .accordion {
    width: size(186);
    margin-inline: auto;
    @include radius(4);

    &-item {
      @include radius(4);
      border: 0;
      background: $orange-50;
    }

    &-button {
      @include setBgColor($orange-50, $gray-700);
      @include flex-center;
      height: size(40);
      font-size: size(16);
      font-weight: 600;
      text-align: center;

      &::after {
        margin-left: size(4);
      }

      &:not(.collapsed) {
        background: transparent;
        border: 0;
        box-shadow: none;

        &::after {
          background-image: var(--bs-accordion-btn-icon);
        }
      }
    }

    &-body {
      .dropdownlist {
        @include list-vertical;

        &-link {
          @include flex-center-vert;
          gap: size(8);
          @include setBgColor(transparent, $gray-700);
          padding: size(5) size(10);
          @include w100;

          .icon {
            @include square(20);
            @include flex-center;
            overflow: hidden;

            img {
              object-fit: contain;
            }
          }

          .text {
            font-size: size(12);
            font-weight: 400;
            display: inline-block;
            margin-top: size(3);
          }

          @include hover {
            background: $gray-200;
          }
        }
      }
    }
  }
}