@use '../../global' as *;
@use '../../partials' as *;

.form-control,
.form-select {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.form-group {
  position: relative;
  .form-label {
    @include font($primaryFont,14,semibold,normal,20);
    color: $labeltext;
    
  }
  .form-control {
    color: $textplaceholder-2;
    @include font($primaryFont,14,normal,normal,20);
    @include radius(6);
    @include transitionsall;
    padding: size(9) size(10);
    color: $gray-700;
    &:focus {

      }
    &::placeholder {
      color: $textplaceholder-2;
     @include font($primaryFont,14,normal,normal,20);
    }

  }
  select {
    @include border(solid,1,$inputborder);
    @include radius(8);
    padding: size(8) size(8);
    @include transitionsall;
    &:focus {
      border-color: #0876FC;
    }
  }
  .show-hide {
    position: absolute;
    right: size(4);
    top: 53%;
    cursor: pointer;
  }
}

.input_container {
  border: 1px solid  #E2E8F0;
  padding: size(4) size(8);
  @include radius(6);
  
}

input[type=file]::file-selector-button {
  background: linear-gradient(151.47deg, #02D7F8 9.01%, #0876FC 84.28%);
  color: $white;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 2px 10px;
  margin-right: 20px;
  transition: .5s;
  @include radius(5);
}

input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
}

// Styling for the OTP container
.otp-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .filled {
    border-color: #2A374E !important;
  }

  input[type="text"] {
    color: transparent;
    text-shadow: 0 0 0 #2A374E;
    width: size(54);
    text-align: center;
    font-size: 24px;
    margin: 0 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
    background: transparent;
    padding-bottom: size(8);
    @include font($primaryFont, 32, semibold, normal, 50);

    &:focus {
      border-color: $buttonbg;
    }
  }
}
.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
  box-shadow: none;
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
  box-shadow: none;
}



