@use "../../global" as *;
@use "../../partials" as *;

.cardblog {
  background: $white;
  box-shadow: $blogshadow;
  @include radius(8);
  @include flex-column;
  gap: size(16);
  padding: size(10);

  &-header {
    @include radius(8);
    @include flex-center;
    overflow: hidden;
    position: relative;

    .blog-thumbnail {
      @include w100;
      height: size(200);
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
        object-fit: cover;
        @include transitiontransform;
      }
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: rgba($overlagybg, .7);
      @include flex-center;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      z-index: 100;
      @include transitionsall;

      .icon {
        @include square(50);
        @include flex-center;
        overflow: hidden;

        svg {
          @include wh100;
        }
      }
    }

    @include hover {
      .overlay {
        opacity: 1;
        visibility: visible;
      }

      .blog-thumbnail {
        img {
          @include scale(1.05);
        }
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(16);
    padding: 0 size(10) size(20);

    .blog-category,
    .publish-date {
      color: $category;
      font-size: size(14);
      font-weight: 400;
    }

    .blog-title {
      color: $headingcolor;
      font-size: size(18);
      font-weight: 600;
      @include line-clamp;
      @include transitionscolor;

      @include hover {
        color: $buttonbg;
      }
    }

    .blog-text {
      color: $headingcolor;
      font-size: size(14);
      font-weight: 400;
    }
  }
}
.featured-card {
position: relative;
overflow: hidden;
@include radius(16);
height: size(326);

  .featured-thumb {
    @include wh100;
    overflow: hidden;
    @include radius(10);
    @include transitionsall;
    img {
      @include wh100;
      object-fit: cover;

    }
  }
  .featured-content {
    background: $white;
    position: absolute;
    bottom: size(-56);
    @include transitionsall;
    height: size(154);
    @include w100; 
   @include flex-column;
   gap: size(10);

    padding: size(16);
    align-items: flex-start;
    .content-left {
      @include flex-column;
      gap: size(4);
    }

    .top-content {
     @include flex-between;
     align-items: flex-start;
     gap: size(50);

    }

    &-title {
      @include font($primaryFont,20,semibold,normal,30);
      color: $gray-700;
    }
    &-text {
      color: $gray-700;
      @include line-clamp;

    }
    &-price {
      color: $gray-700;
      @include font($primaryFont,30,semibold,normal,46);
    }

    .featured-buttons {
      @include flex;
      justify-content: flex-end;
      @include w100;
      gap: size(8);

    }



  }

  @include hover {
    .featured-content {
      bottom: 0;
    }
    .featured-thumb {
      transform: scale(1.03);
    }
  }
}

