@use "../../global" as *;
@use "../../partials" as *;

.heroCard {
  @include flex-column;
  gap: size(12);
  align-items: center;
  text-align: center; 
  padding: size(10);
  @include transitionsall;
  .icon-wrapper {
    @include square(76);
    @include radius(30);
    @include flex-center;
    background: $iconbg-2;
    @include transitionsall;
    @include hover {
      background: darken($iconbg-2,10%);

    }

  }
  &-title {
    @include font($primaryFont,16,semibold,normal,24);
    color: $headingcolor;
  }
  @include hover {
    transform: translateY(size(-8))
  }

  &.second {
    .icon-wrapper {
    
      background: $iconbg-3;
      @include hover {
        background: darken($iconbg-3,10%);
  
      }
  
    }
  }
  &.third {
    .icon-wrapper {
    
      background: $iconbg-4;
      @include hover {
        background: darken($iconbg-4,10%);
  
      }
  
    }
  }
  &.fourth {
    .icon-wrapper {
    
      background: $iconbg-5;
      @include hover {
        background: darken($iconbg-5,10%);
  
      }
  
    }
  }


}
.analytics {
  @include flex-column;
  gap: size(24);

  &-top {
    @include flex-column;
    align-items: center;
    text-align: center;
    @include breakpoint(tab992) {
      text-align: left;
      align-items: flex-start
    }
  }
  &-bottom {
    @include border-single(top,solid,1,$sectionborder);
    @include flex-between;
    padding-top: size(30);

  }

  
  &-pill  {
    @include setBgColor($successbg,$successcolor);
    @include radius(50);
    text-transform: lowercase;
    @include font($primaryFont,12,semibold,normal,16);
    padding: size(2) size(10);
    font-weight: 600;
    @include  flex-center;
  }
  &-title {
    padding-top: size(20);
    @include font($primaryFont,30,semibold,normal,40);
    @include breakpoint(tab992) {
      padding-top: size(30);
      @include font($primaryFont,40,semibold,normal,60);
    }
  }
  &-text {
    color: $headingcolor;
    padding-top: size(10);
  }

  .pDashboard , .inSync  {
    @include flex-column;
    gap: size(12);

    .icon-wrapper {
      @include square(60);
      background: $iconbg-1;
      @include flex-center;
      @include radius(20);


    }
    &-title {
      color: $headingcolor;
      @include font($primaryFont,16,semibold,normal,24);
    }
    &-text {
      color: $headingcolor;
    }
  }
  .inSync {
    .icon-wrapper {
      background: $iconbg-2;
    }
  }


}
.collaborate {
  @include flex-column;
  gap: size(24);

  &-top {
    @include flex-column;
    align-items: center;
    text-align: center;
    @include breakpoint(tab992) {
      text-align: left;
      align-items: flex-start
    }
  }
  &-bottom {
    @include border-single(top,solid,1,$sectionborder);
    padding-top: size(30);
    @include flex;
    gap: size(30);
    flex-wrap: wrap;
    .collaborate-features {
      @include list-vertical;
      gap: size(14);
      li {
        @include flex;
        align-items: center;
        gap: size(10)
      }
    }


  }

  
  &-pill  {
    @include setBgColor($badgebg,$badgetext);
    @include radius(50);
    text-transform: lowercase;
    @include font($primaryFont,12,semibold,normal,16);
     padding: size(2) size(10);
    font-weight: 600;
    @include  flex-center;
  }
  &-title {
    padding-top: size(20);
    @include font($primaryFont,30,semibold,normal,40);
    @include breakpoint(tab992) {
      padding-top: size(30);
      @include font($primaryFont,40,semibold,normal,60);
    }
  }
  &-text {
    color: $headingcolor;
    padding-top: size(10);
  }
}
.report {
  @include flex-column;
  gap: size(24);

  &-top {
    @include flex-column;
    align-items: center;
    text-align: center;
    @include breakpoint(tab992) {
      text-align: left;
      align-items: flex-start
    }
  }
  &-bottom {
    @include border-single(top,solid,1,$sectionborder);
    padding-top: size(30);
    @include flex;
    gap: size(30);
    flex-wrap: wrap;
    .report-features {
      @include list-vertical;
      gap: size(14);
      li {
        @include flex;
        align-items: center;
        gap: size(10);
        .number {
          color: $headingcolor;
          @include font($primaryFont,16,semibold,normal,24);
        }
        .text {

        }
      }
    }


  }

  
  &-pill  {
    @include setBgColor($badgebg,$badgetext);
    @include radius(50);
    text-transform: lowercase;
    @include font($primaryFont,12,semibold,normal,16);
     padding: size(2) size(10);
    font-weight: 600;
    @include  flex-center;
  }
  &-title {
    padding-top: size(20);
    @include font($primaryFont,30,semibold,normal,40);
    @include breakpoint(tab992) {
      padding-top: size(30);
      @include font($primaryFont,40,semibold,normal,60);
    }
  }
  &-text {
    color: $headingcolor;
    padding-top: size(10);
  }
}

.cardblog {
  background: $white;
  box-shadow: $blogshadow;
  @include radius(8);
  @include flex-column;
  gap: size(16);
  padding: size(10);

  &-header {
    @include radius(8);
    @include flex-center;
    overflow: hidden;
    position: relative;

    .blog-thumbnail {
      @include w100;
      height: size(200);
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
        object-fit: cover;
        @include transitiontransform;
      }
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: rgba($overlagybg, .7);
      @include flex-center;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      z-index: 100;
      @include transitionsall;

      .icon {
        @include square(50);
        @include flex-center;
        overflow: hidden;

        svg {
          @include wh100;
        }
      }
    }

    @include hover {
      .overlay {
        opacity: 1;
        visibility: visible;
      }

      .blog-thumbnail {
        img {
          @include scale(1.05);
        }
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(16);
    padding: 0 size(10) size(20);

    .blog-category,
    .publish-date {
      color: $category;
      font-size: size(14);
      font-weight: 400;
    }

    .blog-title {
      color: $headingcolor;
      font-size: size(18);
      font-weight: 600;
      @include line-clamp;
      @include transitionscolor;

      @include hover {
        color: $buttonbg;
      }
    }

    .blog-text {
      color: $headingcolor;
      font-size: size(14);
      font-weight: 400;
    }
  }
}
.featured-card {
position: relative;
overflow: hidden;
@include radius(14);
height: size(326);

  .featured-thumb {
    @include wh100;
    overflow: hidden;
    @include radius(16);
    @include transitionsall;
    overflow: hidden;
    
    img {
      @include wh100;
      object-fit: cover;
      @include radius(16);
      display: block;

    }
  }
  .featured-content {
    background: $white;
    position: absolute;
    bottom: size(-56); 
    @include transitionsall;
    height: size(154);
    @include w100; 
    @include flex-column;
    gap: size(10);
    z-index: 10;

    padding: size(16);
    align-items: flex-start; 
    border-bottom-left-radius: size(14);
    border-bottom-right-radius: size(14);
    .content-left {
      @include flex-column;
      gap: size(4);
    }

    .top-content {
     @include flex-between;
     align-items: flex-start;
     gap: size(50);

    }

    &-title {
      @include font($primaryFont,20,semibold,normal,30);
      color: $gray-700;
    }
    &-text {
      color: $gray-700;
      @include line-clamp;

    }
    &-price {
      color: $gray-700;
      @include font($primaryFont,30,semibold,normal,46);
    }

    .featured-buttons {
      @include flex;
      justify-content: flex-end;
      @include w100;
      gap: size(8);

    }



  }

  @include hover {
    .featured-content {
      bottom: 0;
    }
    .featured-thumb {
      transform: scale(.98);
    }
  }
}

.cardPayment {
  @include border(solid,1,$cardBorder);
  @include radius(8);
  background: $white;
 
  @include breakpoint(tab992) {
   
  }

  &-header {
    @include border-single(bottom,solid,1,$cardBorder);
    padding: size(20) size(30);
    @include flex-between;


    @include breakpoint(tab992) {
      padding: size(24) size(34);
    }
    .payment-type {
      color: hsl(218, 15%, 58%); //8490A5
      @include font($primaryFont, 18, normal, normal, 27);
    }
    .price {
      color: $gray-700; //8490A5
      @include font($primaryFont, 30, semibold, normal, 46);
    }

    
  }
  &-body {
    padding: size(20) size(30);
    padding-right: 0;
    @include flex-start;
    gap:size(10);
    @include breakpoint(tab992) {
      padding: size(24) size(34);
      padding-right: 0;
    }
    .payment-features {
      @include list-vertical;
      gap: size(14);
      li {
        @include flex;
        align-items: center;
        gap: size(10)
      }
    }
  }
  &-footer {
    @include border-single(top, solid, 1, $cardBorder);
    padding: size(20) size(30);
    @include breakpoint(tab992) {
      padding: size(24) size(34);
    }
  }

}
.cardService {
  background: $white;
  padding: size(40);
  @include flex-column;
  gap: size(16);
  @include transitiontransform;
  &-icon {
    @include square(48);
    @include transitiontransform;
    img {
      @include wh100;
      object-fit: cover;
    }
  }
  &-title {
    color: #4A5568;
    @include font($primaryFont, 20, semibold, normal, 28);
  }
  &-text {
    padding-top: size(6);
    padding-bottom: size(20);
    color: $gray-600;
    @include font($primaryFont, 16, normal, normal, 30);
  }
  
  @include hover {
    transform: translateY(size(-8));
    .cardService-icon {
      transform: rotate(20deg);
    }

  }
  

}