@use "../global" as *;
@use "../partials" as *;


.allclasses {
  .classtable {
    @include radius(12);
    overflow: hidden;
  }

  .table {
    background: $white;
    @include border(solid, 1, $tableborder);
    margin-bottom: 0;
    border: 0;

    thead {
      background: $primary-900;
      height: size(48);

      tr {
        th {
          color: $white;
          text-transform: uppercase;
          font-size: size(14);
          font-weight: 500;
        }
      }
    }

    tbody {
      @include double-radius(bottom, left, 12, bottom, right, 12);

      tr {
        @include border-single(bottom, solid, 1, $sideborder);

        td {
          border: 0;
          font-size: size(12);

          @include breakpoint(mobile768) {
            font-size: size(13);
          }

          .coursetitle {
            width: calc(100% - size(34));
            font-size: size(12);

            @include breakpoint(mobile768) {
              font-size: size(13);
            }
          }
        }
      }
    }
  }
}