@use "../global" as *;
@use "../partials" as *;

.assignmentdetails {
  .assignmentleft {
    @include flex-column;
    gap: size(14);
    max-height: 91%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: size(16);

    &::-webkit-scrollbar {
      background: transparent;
      width: size(8);
    }

    &::-webkit-scrollbar-thumb {
      background: $textmuted;
      @include radius(8);
    }
  }

  .assignmentright {
    @include flex-column;
    gap: size(24);
    
    .assignment-top {
      background: $white;
      @include flex-column;
      gap: size(20);
      @include radius(8);

      .divider {
        @include w100;
        height: size(1);
        background: $gray-200;
      }

      .topheader,
      .topbody {
        padding: size(16);
      }

      .topheader {
        padding-bottom: 0;
        @include flex-column;
        gap: size(8);

        .text {
          color: $gray-500;
          font-size: size(16);
          font-weight: 500;

          .deadline {
            color: $markText;
            font: inherit;
          }
        }

        .title {
          color: $darktext;
          font-size: size(20);
          font-weight: 600;
        }
      }

      .topbody {
        padding-top: 0;

        .info {
          font-size: size(14);
          font-weight: 400;
          color: $textgray;
          text-align: justify;

          @include breakpoint(tab992) {
            font-size: size(16);
          }
        }
      }
    }

    .assignment-middle {
      background: $white;
      @include radius(8);
      @include flex-center-vert;
      gap: size(14);
      padding: size(15);

      .input-group {
        width: calc(100% - size(164));
        @include border(solid, 1, $tableborder);
        @include radius(8);
        @include flex-center-vert;
        padding: size(4);

        > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
          margin-left: 0;
          border-top-left-radius: size(8);
          border-bottom-left-radius: size(8);
        }
        
        .uploadfile {
          width: calc(100% - size(105));
          padding-left: size(14);

          .filetext {
            color: $textgray;
            font-size: size(14);
            font-weight: 400;
          }
        }

        &-text {
          background: $gray-50;
          @include border(solid, 1, $gray-50);
          @include radius(8);
          box-shadow: $btnshadow;
          cursor: pointer;
          @include flex-center;
          gap: size(8);
          width: size(105);
          @include transitionsall;

          .icon {
            @include square(20);
            @include flex-center;
            overflow: hidden;

            svg {
              @include wh100;
            }
          }

          .text {
            color: $primary-700;
            font-size: size(14);
            font-weight: 500;
          }

          @include hover {
            background: $primary-700;
            border-color: $primary-700;

            .icon {
              svg {
                path {
                  fill: $gray-50;
                }
              }
            }

            .text {
              color: $gray-50;
            }
          }
        }
      }

      .submitbox {
        width: size(150);
      }
    }
    
    .assignment-down {
      background: $white;
      @include flex-column;
      gap: size(20);
      @include radius(8);
      padding-bottom: size(24);

      .divider {
        @include w100;
        height: size(1);
        background: $gray-200;
      }

      .fileheader,
      .filebody {
        padding: size(16);
      }

      .fileheader {
        padding-bottom: 0;

        .title {
          color: $gray-500;
          font-size: size(16);
          font-weight: 500;
        }
      }

      .filebody {
        padding-top: 0;

        .emptyfile {
          width: size(248);
          margin-inline: auto;
          @include flex-center-column;
          gap: size(24);
          text-align: center;

          .emptyicon {
            width: size(248);
            height: size(155);
            @include flex-center;
            overflow: hidden;

            svg {
              @include wh100;
            }
          }

          .emptytext {
            color: $textgray;
            font-size: size(15);
            font-weight: 500;
          }
        }

        .fileslist {
          @include list-horizontal;
          gap: size(16);
          flex-wrap: wrap;

          &-item {
            width: size(84);
            height: size(100);
            @include flex-center;
            position: relative;
            background: $filebg;
            @include radius(4);

            .fileicon {
              @include square(34);
              @include flex-center;
              overflow: hidden;

              svg {
                @include wh100;
              }
            }

            .btn-remove {
              position: absolute;
              top: size(-8);
              right: size(-8);
              @include transparent-button;
              @include square(16);
              @include flex-center;
              overflow: hidden;
              display: none;
            }

            @include hover {
              box-shadow: $fileshadow;
              filter: $fileshade;

              .btn-remove {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .assignmentexpired {
    @include flex-column;
    gap: size(24);

    .topcontent,
    .midcontent,
    .downcontent {
      background: $white;
      @include radius(8);
      overflow: hidden;
      @include flex-column;
      gap: size(20);

      .divider {
        @include w100;
        height: size(1);
        background: $gray-200;
      }

      &-header,
      &-body {
        padding: size(16);

        @include breakpoint(mobile768) {
          padding: size(20);
        }

        @include breakpoint(tab992) {
          padding: size(24);
        }
      }

      &-header {
        padding-bottom: 0;
      }

      &-body {
        padding-top: 0;
      }
    }

    .topcontent {
      &-header {
        @include flex;
        justify-content: space-between;

        .title {
          color: $gray-500;
          font-size: size(16);
          font-weight: 500;
        }

        .rightdetail {
          @include flex-column;
          gap: size(4);
          text-align: right;

          .submissiontitle,
          .date {
            font-size: size(14);
            font-weight: 500;
          }

          .submissiontitle {
            color: $gray-500;
          }

          .date {
            color: $primary-600;
          }
        }
      }

      &-body {
        .filelist {
          @include list-horizontal;
          gap: size(14);
          flex-wrap: wrap;

          &-item {
            background: $filebg;
            @include radius(4);
            width: size(80);
            height: size(94);
            @include flex-center;
            overflow: hidden;

            .icon {
              @include square(34);
              @include flex-center;
              overflow: hidden;

              svg {
                @include wh100;
              }
            }
          }
        }
      }
    }
    
    .midcontent {
      &-header {
        @include flex-center-between;

        .title {
          color: $gray-500;
          font-size: size(16);
          font-weight: 500;
        }

        .marks {
          color: $primary-600;
          font-size: size(14);
          font-weight: 500;
        }
      }

      &-body {
        .infotext {
          color: $gray-500;
          font-size: size(14);
          font-weight: 300;
          text-align: justify;

          @include breakpoint(tab992) {
            font-size: size(16);
          }
        }
      }
    }

    .downcontent {
      &-header {
        hgroup {
          @include flex-column;
          gap: size(8);

          .subtitle {
            color: $gray-600;
            font-size: size(16);
            font-weight: 400;
          }

          .title {
            color: $gray-800;
            font-size: size(20);
            font-weight: 600;
          }
        }
      }

      &-body {
        .infotext {
          color: $gray-500;
          font-size: size(14);
          font-weight: 300;
          text-align: justify;

          @include breakpoint(tab992) {
            font-size: size(16);
          }
        }
      }
    }
  }
}