@use "../global" as *;
@use "../partials" as *;

.complainsection {
  .mycomplain {
    background: $white;
    // padding-top: size(16);
  
    // @include breakpoint(mobile768) {
    //   padding-top: size(20);
    // }
  
    // @include breakpoint(tab992) {
    //   padding-top: size(24);
    // }

    .leftinfo,
    .rightinfo {
      // @include wh100;
    }

    .leftinfo {
      padding: size(20);
      @include flex-center-column;
      gap: size(48);
  
      @include breakpoint(mobile768) {
        padding: size(32);
      }
    
      @include breakpoint(tab992) {
        padding: size(40);
      }

      .complaininfo {
        @include flex-center-column;
        gap: size(8);

        .title {
          color: $headingText;
          font-size: size(36);
          font-weight: 600;

          span {
            color: $markText;
          }
        }

        .text {
          font-size: size(18);
          color: $textgray;
        }
      }

      .info {
        @include flex-center-column;
        gap: size(10);
        margin-top: size(16);

        span {
          color: $gray-700;
          font-size: size(14);
          font-weight: 400;
        }

        p {
          color: $gray-700;
          font-size: size(14);
          font-weight: 400;

          a {
            color: $blueColor;
            font-size: size(14);
            font-weight: 700;

            @include hover {
              color: $primary-600;
            }
          }
        }
      }
    }

    .rightinfo {
      background: $white-25;
      @include flex-center;
      @include w100;

      .complainthumb {
        width: size(340);
        height: size(230);
        @include flex-center;
        margin-inline: auto;
        overflow: hidden;
      }
    }
  }
}