@use "../global" as *;
@use "../partials" as *;


// hero 
.hero {
  padding: size(70) size(0);
  padding-bottom: size(100);
  @include breakpoint(tab992) {
    padding-bottom: size(130);
  }
  &-content {
    @include flex-column;
    gap: size(60);
    @include breakpoint(tab992) {
      gap: size(130);
    }
  }
  .left-content {
    @include flex-column;
    gap: size(24);
    justify-content: flex-end;
    height: 100%;
    text-align: center;
    @include breakpoint(tab992) {
      text-align: left;
    }
  }
    &-title {
    color: $headingcolor;
    @include font($primaryFont,30,bold,normal,46);
    
    @include breakpoint(mobile768) {
    @include font($primaryFont,36,bold,normal,50);

    }
    @include breakpoint(desk1200) {
    @include font($primaryFont,40,bold,normal,60);
    }

  }
  &-text {

  }
  .hero-image {
    max-height: size(360);
    overflow: hidden;
    transform: translatey(0px);
    animation: float 8s ease-in-out infinite;
    img {
      @include wh100;
      object-fit: cover; 
    }
  }

  .subcribe-box {
    @include flex;
    gap: size(10);
    input {
      background: $white;
      @include border(solid,1,$inputborder);
      padding: size(12) size(24);
      @include transitionsall;
      flex: 1;
      @include radius(8);
      &:focus {
        border-color: #02D7F8;
      }
    } 
  
  }
}
// monthly featured 
.featured {
  background: linear-gradient(135deg, #0A387A 0%, #6541C0 100%);
  padding: size(60) size(0);
  padding-bottom: size(70);
  margin-bottom: size(50);
  @include breakpoint(tab992) {
   margin-bottom: size(80);
  }

  &-content {

  }
  &-title {
      color: $white;
      font-weight: 600;
      text-align: center;
      margin-bottom: size(60)
  }
}

.amazingFeature {
  @include flex-center-column;
  gap: size(24);

  @include breakpoint(tab992) {
    gap: size(48);
  }
  &-content {
    @include border-single(top, solid, 1, $sectionborder);
    @include flex-column;
    gap: size(40);
    padding: size(60) 0;
  
    @include breakpoint(tab992) {
      gap: size(60);
      padding: size(60) 0 size(120);
    }
  } 
  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    @include breakpoint(tab992) {
      gap: size(40);
    }

    .amazingFeature-title {
      color: $headingcolor;
      font-weight: 600;
    }

    .amazingFeature-text {
      color: $headingcolor;
      font-size: size(14);
      font-weight: 400;
    }
  }

  .amazingFeature-thumb {
    @include radius(20);
    overflow: hidden;
    position: relative;
    max-height: size(510);
    &::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
   
    }

    img {
      @include wh100;
      object-fit: cover;
     
    }

    @include hover {
      &::before {
        -webkit-animation: shine 1s;
        animation: shine 1s;
      }
    }
  }
  
}

.ourProduct {
   
   padding-bottom: size(50);
   @include breakpoint(tab992) {
    padding-bottom: size(120);
   }
  &-title {
    @include border-single(top,solid,1,$sectionborder);
    .title {
      text-align: center;
      padding: size(80) size(0);
      color: $headingcolor;
      font-weight: 600;

    }
  }
}

.integration {
  @include flex-center-column;
  gap: size(24);

  @include breakpoint(tab992) {
    gap: size(48);
  }

  &-content {
    @include border-single(top, solid, 1, $sectionborder);
    @include flex-column;
    gap: size(40);
    padding: size(60) 0;
  
    @include breakpoint(tab992) {
      gap: size(60);
      padding: size(60) 0 size(120);
    }
  }
  
  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    @include breakpoint(tab992) {
      gap: size(40);
    }

    .integration-title {
      color: $headingcolor;
      font-weight: 600;
    }

    .integration-text {
      color: $headingcolor;
      font-size: size(14);
      font-weight: 400;
    }
  }

  &-body {
    background: $white;
    @include radius(10);
    padding: size(16);
    @include flex-center;
    flex-wrap: wrap;
    gap: size(10);

    .card-integration {
      background: $brandcardbg;
      @include radius(10);
      @include flex-center;
      overflow: hidden;
      padding: size(20);

      &[data-integration="rectangle"] {
        width: size(200);
        height: size(86);
      }

      &[data-integration="square"] {
        @include square(86);
      }
    }
  }
}

// hover animation for image 
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
} 
//float animation for image 

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}

