@use "../global" as *;
@use "../partials" as *;

.myprofile {
  .myprofileinfo {
    background: $white;
    @include flex-column;
    gap: size(24);
    min-height: 100vh;

    @include breakpoint(tab992) {
      flex-direction: row;
    }

    .profilenav {
      @include border-single(bottom, solid, 1, $gray-300);
      padding: size(24) 0;
      
      @include breakpoint(tab992) {
        border-bottom: 0;
        @include border-single(right, solid, 1, $gray-300);
        width: size(240);
      }

      .profilelist {
        @include list-vertical;
        gap: size(2);

        &-link {
          padding: size(14) size(24);
          @include flex-center-vert;
          @include setBgColor($white, $gray-700);
          font-size: size(14);
          font-weight: 500;
          @include transitionsall;

          &:hover:not(.active) {
            @include setBgColor($linkhover, $gray-700);
          }

          &.active {
            @include setBgColor($linkhover, $gray-700);
          }
        }
      }
    }

    .profiledetails {
      padding: size(24) size(16);

      @include breakpoint(tab992) {
        width: calc(100% - size(240));
        padding: size(24) 0;
      }

      .changepassword {
        @include flex-center-column;
        gap: size(24);

        .change-thumbnail {
          @include square(200);
          @include flex-center;
          margin-inline: auto;
          overflow: hidden;

          svg {
            @include wh100;
          }
        }
      }
      
      .myorderhistory {
        @include radius(12);
        overflow: hidden;

        .table {
          background: $white;
          @include border(solid, 1, $tableborder);
          margin-bottom: 0;
          border: 0;
      
          thead {
            background: $primary-900;
            height: size(48);
            @include double-radius(top, left, 12, top, right, 12);
      
            tr {
              th {
                color: $white;
                text-transform: uppercase;
                font-size: size(14);
                font-weight: 500;
              }
            }
          }
      
          tbody {
            @include double-radius(bottom, left, 12, bottom, right, 12);
      
            tr {
              @include border-single(bottom, solid, 1, $sideborder);
      
              td {
                border: 0;
                font-size: size(12);
      
                @include breakpoint(mobile768) {
                  font-size: size(13);
                }
      
                .coursetitle {
                  font-size: size(12);
      
                  @include breakpoint(mobile768) {
                    font-size: size(13);
                  }
                }

                .actioninfo {
                  position: relative;

                  .btn-action {
                    @include transparent-button;
                  }

                  .actiondropdown {
                    position: absolute;
                    top: size(2);
                    right: size(48);
                    min-width: size(130);
                    z-index: 20;
                    display: none;
                    @extend %animation;
                    @extend %slideUpIn;
                    @include translateY(-50%);

                    .dropdownlist {
                      @include list-vertical;

                      &-link {
                        @include setBgColor($white, $gray-700);
                        font-size: size(12);
                        font-weight: 500;
                        padding: size(8) size(16);
                        @include transitionsall;

                        @include hover {
                          @include setBgColor($primary-600, $white);
                        }
                      }
                    }
                  }

                  @include hover {
                    .actiondropdown {
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .buttonbox {
        width: size(180);

        .btn-continue {
          @include w100;
        }
      }
    }

    .profileinfo {
      @include flex-column;
      gap: size(32);

      &-header {
        @include flex-center-column;
        gap: size(20);

        .profileupload {
          .profile {
            @include square(140);
            @include circle;
            @include flex-center;
            position: relative;

            img {
              @include wh100;
              object-fit: cover;
            }

            .upload-button {
              position: absolute;
              bottom: 0;
              right: 0;
              background: $white-300;
              @include border(solid, 3, $white);
              @include circle;
              cursor: pointer;
              @include square(48);
              @include flex-center;
              padding: size(10);

              svg {
                @include wh100;
              }
            }
          }
        }

        .userdesc {
          @include flex-center-column;
          text-align: center;

          .name {
            color: $gray-700;
            font-size: size(18);
            font-weight: 700;
          }

          .usrid {
            color: $gray-700;
            font-size: size(14);
            font-weight: 500;
          }
        }
      }

      &-body {
        @include flex-column;
        gap: size(24);
  
        .statusbox {
          position: relative;
          height: size(44);
  
          .form-control {
            position: relative;
          }
  
          .statusprofile {
            position: absolute;
            top: 50%;
            @include translateY(-50%);
            left: size(12);
            padding: size(4) size(8);
            @include flex-center;
            gap: size(8);
            @include radius(4);
  
            .ballicon {
              @include square(6);
              @include circle;
              @include flex-center;
              overflow: hidden;
  
              svg {
                @include wh100;
              }
            }
  
            .text {
              color: $activecolor;
              font-size: size(10);
              font-weight: 500;
            }
  
            &.active {
              background: $activebg;
  
              .ballicon {
                svg {
                  circle {
                    fill: $activecolor;
                  }
                }
              }
    
              .text {
                color: $activecolor;
              }
            }
  
            &.inactive {
              background: $error-50;
  
              .ballicon {
                svg {
                  circle {
                    fill: $error-500;
                  }
                }
              }
    
              .text {
                color: $error-700
              }
            }
          }
        }
  
        .fileupload {
          .filepond--drop-label {
            background: $white;
            @include border(solid, 1, $gray-200);
            @include radius(8);
  
            .filepond--browser-nk8h2xb1z {
              .filepond--label-action {
                color: $primary-700;
                cursor: pointer;
                font-size: size(14);
                font-weight: 600;
    
                @include hover {
                  color: $primary-900;
                }
              }
            }
          }
  
          .filepond--panel-root {
            background: $white;
            @include border(solid, 1, $gray-200);
            @include flex-center;
          }
  
          .filepond--drop-label label {
            color: $textgray;
            font-family: $primaryFont;
            font-weight: 400;
            font-size: size(12);
            cursor: text;
          }
  
          .filepond--label-action {
            color: $primary-700;
            cursor: pointer;
            font-family: $primaryFont;
            font-size: size(14);
            font-weight: 600;
            text-decoration: none;
          }

          .filepond--root {
            font-family: $primaryFont;
          }
  
          .filepond--file {
            font-family: $primaryFont;
            color: $darktext;
            font-weight: 600;
          }
  
          .filepond--item-panel {
            background: $primary-200;
          }

          .filetext {
            color: $textgray;
            font-family: $primaryFont;
            font-weight: 400;
            font-size: size(12);
            text-align: center;
          }

          .filepond--credits {
            display: none;
          }
        }
      }
    }
  }
}

.iti__country-list {
  max-width: size(250);

  &::-webkit-scrollbar {
    display: none;
  }
}

.nice-select {
  height: size(44);
  background: $white;
  @include flex-center-vert;

  &:focus,
  &:active {
    border-color: darken($gray-300, 20%);
  }
}

#profilestatus {
  &:disabled {
    background: transparent;
  }
}