@use "../global" as *;
@use "../partials" as *;
.servicesHero {
    padding: size(30) size(0);
    @include breakpoint(tab992) {
        padding: size(60) size(0);
    }
    &-content {
        @include flex-column;
        gap: size(30);
        align-items: center;
        text-align: center;
        @include breakpoint(tab992) {
            gap: size(50);
        }
    }
    &-header {
        @include flex-column;
        gap: size(14);
    }

    &-title {
        color:  #2A374E;
        font-weight: 600;
    }

    &-des {

    }

    &-thumb {
        max-width: size(960);
        margin: auto;
        img {
            @include wh100;
            object-fit: cover;
        }
    }
}
.services {
    padding-bottom: size(100);
}
.buildingWebsite  {
    padding-bottom: size(100);
    .building-content {
        @include flex-column;
        gap: size(20);
        align-items: center;
        text-align: center;
        padding: size(10);
        @include breakpoint(tab992) {
            align-items: flex-start;
            text-align: left;
        }
        .building-title {
            color: $gray-700;
            font-weight: 600;
            @include font($primaryFont, 24, semibold, normal, 50);
            @include breakpoint(mobile576) {
                @include font($primaryFont, 32, semibold, normal, 70);
                
            }
            
        }
        .building-text {
            @include font($primaryFont, 16, normal, normal, 30);
            color: $gray-600;
        }
        .building-contact {
            @include flex;
            align-items: center;
            gap: size(10);
            flex-direction: column;
            padding-top: size(30);
            @include breakpoint(tab992) {
                flex-direction: row;
            }
        }
    }
    .buildingWebsite-thumb {
        img {
            margin: auto;
        }
    }
}


.preloader {
    background: #000;
    height: 100vh;
    @include w100;
    position: fixed;
    z-index: 99900;
    display: none;
}

$blue: #26bbf0;
$green: #c2d5a0;
$red: #cf6a6d;
$yellow: #ffbc0d;

$black: #343536;
$black-2: #424950;
$grey: #89949b;
$grey-2: #9aa8b1;
$light-grey: #c4c9cd ;
$light-grey-2: #dbdfe1;
$white: #f3f4f5;


* {
  transition: all .3s;
}


#prism-logo {
  path {
    // fill: #20293b;
    // stroke: rgba(255,255,255,1);
    // stroke-width: 1px;
  }
}

.loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.1);
  margin-left: -60px;
  margin-top: -60px;
  // .animation(fade 1.2s infinite ease-in-out);
}

.loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  transform-origin: 60px 60px;
  -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
  animation: rotate 1.2s infinite linear;
  .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.5);
  }
}

#particles-background, #particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  transform: scale3d(.5, .5, 1);
}

#particles-background {
  background: mix(#3f3251, #002025, 70%);
  background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }