@use "../global" as *;
@use "../partials" as *;
.servicesHero {
    padding: size(30) size(0);
    @include breakpoint(tab992) {
        padding: size(60) size(0);
    }
    &-content {
        @include flex-column;
        gap: size(30);
        align-items: center;
        text-align: center;
        @include breakpoint(tab992) {
            gap: size(50);
        }
    }
    &-header {
        @include flex-column;
        gap: size(14);
    }

    &-title {
        color:  #2A374E;
        font-weight: 600;
    }

    &-des {

    }

    &-thumb {
        max-width: size(960);
        margin: auto;
        img {
            @include wh100;
            object-fit: cover;
        }
    }
}
.services {
    padding-bottom: size(100);
}
.buildingWebsite  {
    padding-bottom: size(100);
    .building-content {
        @include flex-column;
        gap: size(20);
        align-items: center;
        text-align: center;
        padding: size(10);
        @include breakpoint(tab992) {
            align-items: flex-start;
            text-align: left;
        }
        .building-title {
            color: $gray-700;
            font-weight: 600;
            @include font($primaryFont, 24, semibold, normal, 50);
            @include breakpoint(mobile576) {
                @include font($primaryFont, 32, semibold, normal, 70);
                
            }
            
        }
        .building-text {
            @include font($primaryFont, 16, normal, normal, 30);
            color: $gray-600;
        }
        .building-contact {
            @include flex;
            align-items: center;
            gap: size(10);
            flex-direction: column;
            padding-top: size(30);
            @include breakpoint(tab992) {
                flex-direction: row;
            }
        }
    }
    .buildingWebsite-thumb {
        img {
            margin: auto;
        }
    }
}


.rotate-element {
    display: inline-block;
    animation: rotate 8s linear infinite;
  }
  
  .animate-element {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    white-space: nowrap;
    background-color: red;
    z-index: 900;
    animation: slide 10s linear infinite;
  }
  
  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: calc(100% - 100px);
    }
  }
  
  