@use "../global" as *;
@use "../partials" as *;

.studentdash {
  min-height: 100vh;
  @include flex-column;
  gap: size(32);

  .dashboardchart {
    background: $white;
    @include border(solid, 1, $gray-200);
    @include radius(8);
    padding: size(16);
    @include h100;

    @include breakpoint(desktop1200) {
      padding: size(24);
    }

    .apexcharts-title-text {
      font-family: $primaryFont !important;
      color: $headingText;
    }
  }

  .comingsoon {
    background: $white;
    @include border(solid, 1, $gray-200);
    @include radius(8);
    padding: size(16);
    @include flex-column;
    gap: size(24);
    @include h100;

    @include breakpoint(desktop1200) {
      padding: size(24);
    }

    .cominginfo {
      @include flex-column;
      gap: size(16);

      .icon {
        @include square(48);
        @include circle;
        @include flex-center;
        overflow: hidden;

        svg {
          @include wh100;
        }
      }

      .comingtitle {
        color: $gray-900;
        font-size: size(36);
        font-weight: 500;
        letter-spacing: size(-0.32);

        .live {
          color: $rose-600;
          font: inherit;
        }
      }
    }

    .countdowntimer {
      @include flex-center;
      gap: size(16);

      .timerinfo {
        background: $white;
        @include border(solid, 1, $sideborder);
        @include radius(8);
        @include flex-column;
        overflow: hidden;
        text-align: center;

        .days,
        .hours,
        .minutes,
        .seconds {
          @include setBgColor($dangercolor, $white);
          width: size(64);
          height: size(52);
          color: $white;
          font-family: $secondaryFont;
          font-size: size(24);
          font-weight: 400;
          @include flex-center;
        }

        .title {
          @include border-single(top, solid, 1, $sideborder);
          color: $rose-800;
          font-family: $secondaryFont;
          font-size: size(12);
          font-weight: 500;
          text-transform: uppercase;
          padding: size(8) size(4);
        }
      }
    }

    .titlebox {
      background: $error-50;
      @include radius(8);
      padding: size(16) size(20);

      .title {
        color: $textgray;
        font-size: size(16);
        font-weight: 600;
      }
    }

    .goclass {
      @include w100;

      .btn-submit {
        display: inline-block;
      }
    }
  }

  .assignmentsoon {
    background: $white;
    @include border(solid, 1, $gray-200);
    @include radius(8);
    padding: size(16);
    @include flex-column;
    gap: size(14);
    @include h100;

    @include breakpoint(desktop1200) {
      padding: size(24);
    }

    &-header {
      @include flex-column;
      gap: size(14);

      .titleinfo {
        @include flex-center-vert;
        gap: size(16);
  
        .icon {
          @include square(48);
          @include circle;
          @include flex-center;
          overflow: hidden;
  
          svg {
            @include wh100;
          }
        }
  
        .titleboxs {
          width: calc(100% - size(64));

          .title {
            color: $gray-900;
            font-size: size(24);
            font-weight: 500;
            letter-spacing: size(-0.32);
    
            span {
              color: $success-600;
              font: inherit;
            }
          }
        }
      }

      .datebox {
        @include flex-center;
        
        @include breakpoint(tab992) {
          justify-content: flex-end;
        }

        .date {
          @include setBgColor($success-100, $success-700);
          @include radius(4);
          display: inline-block;
          font-size: size(14);
          font-weight: 500;
          padding: size(8) size(12);
          text-align: center;
        }
      }
    }

    &-body {
      @include flex-column;
      gap: size(24);

      .countdownclock {
        @include flex-center;
        gap: size(16);
  
        .timerinfo {
          background: $white;
          @include border(solid, 1, $sideborder);
          @include radius(8);
          @include flex-column;
          overflow: hidden;
          text-align: center;
  
          .days,
          .hours,
          .minutes,
          .seconds {
            @include setBgColor($success-600, $white);
            width: size(64);
            height: size(52);
            color: $white;
            font-family: $secondaryFont;
            font-size: size(24);
            font-weight: 400;
            @include flex-center;
          }
  
          .title {
            @include border-single(top, solid, 1, $sideborder);
            color: $success-800;
            font-family: $secondaryFont;
            font-size: size(12);
            font-weight: 500;
            text-transform: uppercase;
            padding: size(8) size(4);
          }
        }
      }
  
      .titlebox {
        background: $success-50;
        @include radius(8);
        padding: size(16) size(20);
  
        .title {
          color: $textgray;
          font-size: size(16);
          font-weight: 600;
        }
      }
  
      .goclass {
        @include w100;
  
        .btn-submit {
          display: inline-block;
        }
      }
    }
  }

  .myprogress {
    background: $white;
    @include border(solid, 1, $gray-200);
    @include radius(8);
    @include flex-column;
    @include h100;
    padding-bottom: size(24);

    &-header {
      padding: size(20);

      .progresstitle {
        color: $headingText;
        font-family: $secondaryFont;
        font-size: size(18);
        font-weight: 600;
      }
    }

    &-body {
      .table {
        thead {
          tr {
            th {
              border-color: $gray-200;
              color: $gray-500;
              font-size: size(16);
              font-weight: 500;
              padding: size(12) size(20);
            }
          }
        }
        tbody {
          tr {
            td {
              border-color: $gray-200;
              color: $gray-500;
              font-size: size(14);
              font-weight: 400;
              padding: size(12) size(20);

              .title {
                color: $gray-800;
                font-size: size(14);
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}