@use "../../global" as *;
@use "../../partials" as *;

.statusbadge {
  @include setBgColor($badgeBg, $redcolor);
  @include radius(16);
  @include flex-center;
  gap: size(5);
  padding: size(2) size(8);

  .text {
    font-size: size(11);
    color: inherit;
  }
}

.titleicon {
  background: $lightsuccess;
  @include square(34);
  @include circle;
  @include flex-center;
  overflow: hidden;
  padding: size(7);

  svg {
    @include wh100;
  }
}

.badgestatus,
.badgepayment,
.assignstatus {
  @include radius(4);
  display: inline-block;
  font-size: size(10);
  font-weight: 600;
  padding: size(4) size(8);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.badgestatus {
  &.present {
    @include setBgColor($green-g50, $green-g500);
  }

  &.absent {
    @include setBgColor($error-200, $error-700);
  }
}

.assignstatus {
  &.submitted {
    @include setBgColor($blue-100, $blue-700);
  }

  &.passed {
    @include setBgColor($green-g50, $green-g500);
  }

  &.expired {
    @include setBgColor($error-200, $error-700);
  }

  &.failed {
    @include setBgColor($rose-200, $redcolor);
  }
}

.badgepayment {
  &.paid {
    @include setBgColor($green-g50, $green-g500);
  }
}

.livebadge {
  @include flex-center;
  gap: size(6);
  background: $badgeBg;
  @include radius(16);
  padding: size(2) size(8);

  .icon {
    @include square(8);
    @include circle;
    @include flex-center;
    overflow: hidden;

    svg {
      @include wh100;
    }
  }

  .text {
    color: $redcolor;
    font-size: size(12);
    font-weight: 500;
  }
}