@use "../../global"as *;
@use "../../partials"as *;



.offcanvas {
  height: 100vh;
  width: size(280);

  @include breakpoint(mobile768) {
    width: size(320);
  }

  &.offcanvas-top {
    border-bottom: 0;
  }

  &.offcanvas-bottom {
    border-top: 0;
  }

  &.offcanvas-start {
    border-right: 0;
  }

  &.offcanvas-end {
    border-left: 0;
  }

  &.offcanvas-start {
    border-right: 0;
  }

  &-header {
    // padding-bottom: 0;

    .offcanvas-title {
      @include font($primaryFont, 18, medium, normal, 26);
    }

    .btn-close {
      @include setBgColor($white, $redcolor);
      @include flex;
      gap: size(10);
      @include square(24);
      @include flex-center;
      overflow: hidden;
      @include radius(0);
      @include transitionsall;

      svg {
        @include wh100;
      }

      @include hover {
        opacity: 1;
        @include rotate(180);

        svg {
          path {
            fill: $redcolor;
          }
        }
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(40);
    padding-bottom: size(150);

    .sidenav {
      @include flex-column;
      gap: size(32);

      .divider {
        @include w100;
        height: size(1);
        background: $gray-300;
        margin: 0;
      }
    }

    &::-webkit-scrollbar {
      background: transparent;
      width: size(8);
    }

    &::-webkit-scrollbar-thumb {
      // background: darken($primary, 25%);
      @include radius(8);
    }
  }
}